.root {
    -fx-background-color: "green";
}

.button {
    -fx-text-fill: "white";
}

#playerProfileImg {
    -fx-border-color: "black";
}

.button {
    -fx-background-color: "black";
    -fx-background-radius: 0 30 30 0;
}

#noBtn,
 #yesBtn,
   #returnBtn{
     -fx-background-radius: 30 30 30 30;
}

#helpBtn {
    -fx-background-radius: 30 0 0 30;
}

.button:hover {
    -fx-background-color: "white";
    -fx-text-fill: "black";
}